
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{% repeated_block title %}{% endblock title%} | TESTINGG</title>
    <meta property="og:title" content="{% repeat title %}" />
    <link rel="stylesheet" href="Styles.css">
  </head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">{% TKET %}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'om' %}">Om TK</a></li>
            <li><a href="{% url 'bestfu' %}">BEST/FU</a></li>
            <li><a href="{% url 'underforeninger' %}">Underforeninger</a></li>
            <li><a href="{% url 'kalender' %}">Kalender</a></li>
            <li><a href="{% url 'arrangementer' %}">Arrangementer</a></li>
            <li><a href="{% url 'gallery_index' %}">Galleri</a></li>
            <li><a href="{% url 'jubi' %}">Jubilæer</a></li>
	    <li><a href="{% url 'codeofconduct' %}">Code of Conduct</a></li>
            <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <h1>Omar Rashdan</h1>
  <p>Text1</p>
  <p>Text2</p>
  <p>Text3</p>
</body>
</html>
